<div id="<%= dom_id booking %>">
  <p>
    <strong>Date in:</strong>
    <%= booking.date_in %>
  </p>

  <p>
    <strong>Date out:</strong>
    <%= booking.date_out %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= booking.product_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= booking.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= booking.total_price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
