<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>Galaxy:</strong>
    <%= product.galaxy %>
  </p>
  <p>
    <strong>System:</strong>
    <%= product.system %>
  </p>
  <p>
    <strong>Price per night:</strong>
    <%= product.price_per_night %>
  </p>
  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>
  <p>
    <strong>Distance from sun:</strong>
    <%= product.distance_from_sun %>
  </p>
</div>
